{% extends "course_logs/index.html" %}


{% block content %}

    <div class="home-container">

        <table>
            <thead>
                <tr>
                    <th>DATE</th>
                    <th><a href="{% url 'course_logs:all_courses' %}">COURSES</a></th>
                    <th><a href="{% url 'course_logs:all_categories' %}">EVENTS</a></th>
                    <th><a href="{% url 'course_logs:new_entry' %}">ENTRY</a></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr class="entries-main">
                        <td id="entry-date"><small>{{entry.date|date:"Y-m-d, D"}}</small></td>
                        <td class="entry-tag"><a href="{% url 'course_logs:this_course' entry.course.id %}">{{entry.course}}</a></td>
                        <td class="entry-tag"><a href="{% url 'course_logs:this_category' entry.category.id %}">{{entry.category}}</a></td>
                        <td class="entry-desc"><a href="{% url 'course_logs:this_entry' entry.id %}">{{ entry.description|truncatechars:30 }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

{% endblock %}
