{% extends "course_logs/index.html" %}


{% block content %}

<div class="this-entry-card">

    <div class="this-entry-container">
        <div><h3>{{entry.date|date:"Y-m-d, D"}}</h3></div>

        <div class="this-entry-body">
            <div><p>{{ entry.description }}</p></div>
        </div>
    
        <div class="this-entry-tags">
            <a href="{% url 'course_logs:this_course' entry.course.id %}">{{entry.course}}</a>
            <a href="{% url 'course_logs:this_category' entry.category.id %}">{{entry.category}}</a>
        </div>


    </div>

    <hr>

</div>

{% endblock content %}